@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
body{
    background-color: hsl(0, 0%, 86%);
}
main{
    width: 38rem;
    margin-inline: auto;
    margin-block-start:10rem;
    padding: 1rem;
    border-radius: 2rem;
    border-bottom-right-radius: 6rem;
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(0, 0%, 100%);
}
form{
    gap: 1rem;
}
form,.icon{
    display: flex;
}

.icon{
    align-items: center;
}

label{
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}
input{
    width: 6rem;
    padding:0.5rem 1rem;
    font-size: 20px;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: 1px solid hsl(0, 2%, 83%);
}
svg{
    border-radius: 50%;
    padding: 10px;
    background-color: hsl(259, 100%, 65%);
}
button{
    background-color: transparent;
}
hr{
    width: 30rem;
    height: 0.1rem;
    background-color: black;
}
.display{
    margin-block: 2rem;
}
h2,span{
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
}
span{
    color: hsl(259, 100%, 65%);
}

@media ( width < 500px) {
    svg{
        position: relative;
        inset: 0 10rem 0 0;
    }
}